Advertising.csv

In [9]:
import pandas as pd 
import numpy as np

df = pd.read_csv(r"C:/HocML/Stage1/advertising.csv")
data = df.to_numpy()
sales = data[:,-1]
max_value = df['Sales'].max()
max_index = df['Sales'].idxmax()
print(f"{max_value} id: {max_index}")

27.0 id: 175

In [11]:
df.head(5)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [12]:
mean_tv = df['TV'].mean()
print(mean_tv)

147.0425

In [18]:
count = df[df['Sales'].fillna(0)>=20].shape[0]
print(count)

40

In [19]:
mean_radio = df[df['Sales']>=15]['Radio'].mean()
print(mean_radio)

26.22293577981651

In [20]:
mean_npp = df.Newspaper.mean()
sum_sales = df[df['Newspaper']>mean_npp]['Sales'].sum()
print(sum_sales)

1405.1